[submodule "nvim"]
	path = nvim
	url = https://github.com/jharlow/nvim

[submodule "tmux"]
	path = tmux/.tmux/plugins/tmux
	url = https://github.com/catppuccin/tmux

[submodule "tmux-copycat"]
	path = tmux/.tmux/plugins/tmux-copycat
	url =	 https://github.com/tmux-plugins/tmux-copycat
